<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Milestone 3</title>
</head>

<body>

    <header>

    </header>

    <main id="data">

        <div class="container">
            <div class="row cont_struttura">

                <!-- Side left -->
                <div class="col-4 side">

                    <div class="row">

                        <!-- Profilo utente -->
                        <div class="col-12 profilo">
                            <div class="row h_100">

                                <div class=" col-6 img_nome">

                                    <img src="./img/avatar_io.jpg" alt="">
                                    <p>
                                        Nomu Utente
                                    </p>

                                </div>
                                <div class="col-6 utility">
                                    <i class="fas fa-circle-notch"></i>
                                    <i class="fas fa-comment-alt"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Disattiva notifiche -->
                        <div class="col-12 disattiva_notifiche">
                            <span class="cont_ball">
                                <i class="fas fa-bell-slash"></i>
                            </span>
                            <span class="txt_notifiche">
                                Ricevi notifiche di nuovi messaggi <br>
                                <span class="txt_attiva_notifiche">
                                    Attiva notifiche desktop
                                </span>
                            </span>
                        </div>

                        <!-- Search bar -->
                        <div class="col-12 cont_search">
                            <div class="search">
                                <i class="fas fa-search"></i>
                                <input type="text" placeholder="Cerca o inizia una nuova chat">
                            </div>
                        </div>

                        <!-- Amici -->
                        <div class="col-12 amici">
                            <div v-for="(contact, i) in contacts" class="amico" @click="selezionaChat(i)">
                                <img :src="contact.avatar" alt="">
                                <p class="name">
                                    {{contact.name}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side right -->
                <div class="col-8">

                    <div class="row">

                        <!-- Info amico -->
                        <div class="col-12 profilo">
                            <div class="row h_100">

                                <div class=" col-6 img_nome">

                                    <img :src="contacts[counter].avatar" alt="">
                                    <p class="nome_accesso">
                                        {{contacts[counter].name}} <br>

                                        <span class="ultimo_accesso">
                                            Ultimo accesso oggi alle
                                        </span>
                                    </p>

                                </div>
                                <div class="col-6 utility">
                                    <i class="fas fa-search"></i>
                                    <i class="fas fa-paperclip"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Chat -->
                        <div class="col-12 cont_messaggi">
                            <div v-for="messaggio in contacts[counter].messages"
                                :class=" messaggio.status == 'sent' ? 'disp_inviato' : 'disp_ricevuto' ">
                                <p :class=" messaggio.status == 'sent' ? 'inviato' : 'ricevuto' ">
                                    {{messaggio.text}} <br>
                                    <span class="data">
                                        {{messaggio.date}}
                                    </span>
                                </p>
                            </div>
                        </div>

                        <!-- Invio messaggio -->
                        <div class=" col-12 cont_invio">
                            <i class="far fa-smile"></i>

                            <input type="text" placeholder="Scrivi un messaggio" v-model="messaggioNuovo"
                                @keyup.enter="nuovoMessaggio">

                            <i class="fas fa-microphone"></i>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </main>

    <script src="./JS/main.js"></script>

</body>

</html>